<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="PurchaseMapper">
	
	<resultMap type="purchase" id="selectPurchaseMap">
		<result property="purchaseNo" column="purchase_no" jdbcType="NUMERIC"/>
		<result property="tid" column="tid" jdbcType="VARCHAR"/>
		<result property="purchaseMethodType" column="purchase_method_type" jdbcType="VARCHAR"/>
		<result property="itemName" column="item_name" jdbcType="VARCHAR"/>
		<result property="purchaseDate" column="purchase_date" jdbcType="DATE"/>
		<result property="purchasePrice" column="purchase_price" jdbcType="NUMERIC"/>
		<result property="purchaseCount" column="purchase_count" jdbcType="VARCHAR"/>
		<result property="tranCode" column="tran_code" jdbcType="VARCHAR"/>
		<association property="user" javaType="com.codebrew.moana.service.domain.User">
			<id property="userId" column="user_id" jdbcType="VARCHAR"/>
			<result property="nickname" column="nickname" jdbcType="VARCHAR"/>
		</association>
		<association property="ticket" javaType="com.codebrew.moana.service.domain.Ticket">
			<id property="ticketNo" column="ticket_no" jdbcType="NUMERIC"/>
			<result property="festival.festivalNo" column="festival_no" jdbcType="NUMERIC"/>
			<result property="festival.festivalName" column="festival_name" jdbcType="VARCHAR"/>
			<result property="festival.addr" column="addr" jdbcType="VARCHAR"/>
			<result property="festival.startDate" column="start_date" jdbcType="VARCHAR"/>
			<result property="festival.endDate" column="end_date" jdbcType="VARCHAR"/>
			<result property="festival.festivalImage" column="festival_image" jdbcType="VARCHAR"/>
			<result property="party.partyNo" column="party_no" jdbcType="NUMERIC"/>
			<result property="party.partyName" column="party_name" jdbcType="VARCHAR"/>
			<result property="party.partyPlace" column="party_place" jdbcType="VARCHAR"/>
			<result property="party.partyDate" column="party_date" jdbcType="DATE"/>
			<result property="party.partyImage" column="party_image" jdbcType="VARCHAR"/>
			<result property="ticketPrice" column="ticket_price" jdbcType="NUMERIC"/>
			<result property="ticketCount" column="ticket_count" jdbcType="NUMERIC"/>
		</association>
		<association property="qrCode" javaType="com.codebrew.moana.service.domain.QRCode">
			<result property="qrCodeImage" column="qr_code_image" jdbcType="VARCHAR"/>
			<result property="qrCodeResult" column="qr_code_result" jdbcType="VARCHAR"/>
		</association>
	</resultMap>
	
	<insert id="addPurchase" parameterType="purchase" 
		useGeneratedKeys="true" keyColumn="purchase_no" keyProperty="purchaseNo">
		INSERT 
		INTO purchase
		(purchase_no,
		user_id,
		ticket_no,
		tid,
		purchase_method_type,
		item_name,
		purchase_date,
		purchase_price,
		purchase_count,
		tran_code,
		qr_code_image,
		qr_code_result)
		VALUES (seq_purchase_purchase_no.nextval,
						#{user.userId:VARCHAR},
						#{ticket.ticketNo:NUMERIC},
						#{tid:VARCHAR},
						#{purchaseMethodType:VARCHAR},
						#{itemName:VARCHAR},
						#{purchaseDate:DATE},
						#{purchasePrice:NUMERIC},
						#{purchaseCount:NUMERIC},
						#{tranCode:VARCHAR},
						#{qrCode.qrCodeImage:VARCHAR},
						#{qrCode.qrCodeResult:VARCHAR}
						)
	</insert>
	
	<select id="getPurchase" parameterType="int" resultMap="selectPurchaseMap">
		SELECT
		pc.purchase_no AS purchase_no,
		u.user_id AS user_id,
		u.nickname AS nickname,
		t.ticket_no AS ticket_no,
		f.festival_no AS festival_no,
		f.festival_name AS festival_name,
		p.party_no AS party_no,
		p.party_name AS party_name,
		p.party_image AS party_image,
		pc.tid AS tid,
		pc.purchase_method_type AS purchase_method_type,
		pc.item_name AS item_name,
		pc.purchase_date AS purchase_date,
		pc.purchase_price AS purchase_price,
		pc.purchase_count AS purchase_count,
		pc.tran_code AS tran_code,
		pc.qr_code_image AS qr_code_image,
		pc.qr_code_result AS qr_code_result
		FROM users u, festival f, party p, ticket t, purchase pc
		WHERE
		pc.ticket_no = t.ticket_no
		AND pc.user_id = u.user_id
		AND t.festival_no = f.festival_no(+)
		AND t.party_no = p.party_no(+)
		AND pc.delete_flag IS NULL
		AND pc.purchase_no = #{value}
	</select>
	
	
	<select id="getFestivalPurchaseList" parameterType="map" resultMap="selectPurchaseMap">
		SELECT
		u.user_id AS user_id, u.nickname AS nickname
		,t.ticket_no AS ticket_no
		,f.festival_name AS festival_name
		,f.addr AS addr, f.start_date AS start_date, f.end_date AS end_date, f.festival_image AS festival_image
		,pc.purchase_no AS purchase_no, pc.tid AS tid, pc.purchase_count AS purchase_count
		,pc.purchase_price AS purchase_price, pc.tran_code AS tran_code
		,pc.item_name AS item_name
		FROM users u, festival f, ticket t, purchase pc
		WHERE
		pc.user_id = u.user_id
		AND pc.ticket_no = t.ticket_no
		AND t.festival_no = f.festival_no
		AND u.user_id = #{userId}
	</select>
	
	<select id="getPartyPurchaseList" parameterType="map" resultMap="selectPurchaseMap">
		SELECT
		u.user_id AS user_id, u.nickname AS nickname
		,t.ticket_no AS ticket_no
		,p.party_name AS party_name, p.party_date AS party_date
		,p.party_place AS party_place, p.party_image AS party_image
		,pc.purchase_no AS purchase_no, pc.tid AS tid, pc.purchase_count AS purchase_count
		,pc.purchase_price AS purchase_price, pc.tran_code AS tran_code
		,pc.item_name AS item_name
		FROM users u, party p, ticket t, purchase pc
		WHERE
		pc.user_id = u.user_id
		AND pc.ticket_no = t.ticket_no
		AND t.party_no = p.party_no
		AND u.user_id = #{userId}
	</select>
	
	<select id="getSaleList" resultMap="selectPurchaseMap">
		SELECT
		u.user_id AS user_id,
		t.ticket_no AS ticket_no,
		pc.purchase_no AS purchase_no,
		pc.item_name AS item_name,
		pc.purchase_date AS purchase_date,
		pc.purchase_count AS purchase_count,
		pc.purchase_price AS purchase_price,
		pc.tran_code AS tran_code
		FROM users u, festival f, party p, ticket t, purchase pc
		WHERE pc.user_id = u.user_id
		AND pc.ticket_no = t.ticket_no
		AND t.festival_no = f.festival_no(+)
		AND t.party_no = p.party_no(+)
	</select>
	
	<update id="updatePurchaseTranCode" parameterType="purchase">
		UPDATE purchase
		SET tran_code = #{tranCode}
		WHERE purchase_no = #{purchaseNo}
	</update>
	
	<update id="updatePurchaseDeleteFlag" parameterType="int">
		UPDATE purchase
		SET delete_flag = '1'
		WHERE purchase_no = #{value}
	</update>
	
</mapper>