<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="StatisticsMapper">
	
	<resultMap type="statistics" id="selectStatisticsMap">
		<result property="statDate" column="stat_date" jdbcType="VARCHAR"/>
		<result property="totalPrice" column="total_price" jdbcType="NUMERIC"/>
		<result property="totalCount" column="total_count" jdbcType="NUMERIC"/>
		<result property="statDate"/>
		<association property="purchase" javaType="purchase">
			<id property="purchaseNo" column="purchase_no" jdbcType="NUMERIC"/>
			<result property="purchaseMethodType" column="purchase_method_type" jdbcType="VARCHAR"/>
			<result property="itemName" column="item_name" jdbcType="VARCHAR"/>
			<result property="purchaseDate" column="purchase_date" jdbcType="DATE"/>
			<result property="purchasePrice" column="purchase_price" jdbcType="NUMERIC"/>
			<result property="purchaseCount" column="purchase_count" jdbcType="VARCHAR"/>
			<result property="tranCode" column="tran_code" jdbcType="VARCHAR"/>
		</association>
	</resultMap>
	
	<select id="getDailyTotalSaleAmountStat" resultMap="selectStatisticsMap">
		SELECT
		purchase_date AS stat_date,
		SUM(purchase_price) AS total_price,
		SUM(purchase_count) AS total_count
		FROM purchase
		WHERE tran_code IS NULL
		AND purchase_date >= TO_CHAR(SYSDATE - 7, 'yyyy-mm-dd')
		GROUP BY purchase_date
		ORDER BY purchase_date
	</select>
	
</mapper>